#bar{
    height: 50px;
    width: 900px;
    background-color: palevioletred;
    border: 2px solid rgb(24, 162, 162) ;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    text-align: center;
 
    
}

#bar div{
    height: 50px;
    width: 80px;
    font-size: 24px;
    display: flex;
    justify-content: center; 
    align-items: center;
}


#container{
    height: 400px;
    width: 400px;
    border:2px solid rgb(24, 162, 162);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    align-content: space-evenly;
    margin-top: 28px;
    
}

#container div{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    background-color: grey;
    font-size: 50px;
    border-radius: 8.5px;
    

}


