*{
    margin: 0;
    padding: 0;
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
}

.main_box{
    background-image: url(photo.jpg);
    background-size:cover;
    height: 100vh;
}

.btn_one i{
    position: absolute;
    left: 15px;
    color: rgb(201, 194, 194);
    
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    cursor: pointer;
}

.btn_one i:hover{
    font-size: x-large;
    text-shadow: 1px 1px 8px rgb(188, 185, 185);
    transition-duration: 0.2s;
    transform: scale(1.1);
}

.btn_two i{
    position: absolute;
    left: 265px;
    color: rgb(149, 147, 147);
    font-size: 22px;
    font-weight: 700;
    line-height: 60px;
    cursor: pointer;
}

.btn_two i:hover{
    font-size: x-large;
    text-shadow: 1px 1px 8px rgb(188, 185, 185);
    transition-duration: 0.2s;
    transform: scale(1.1);
}

.sidebar_menu{
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: rgba(46, 44, 44,0.8);
    border: 2px solid rgb(36, 35, 35);
    box-shadow: 0 0 12px rgb(126, 123, 123);
    border-radius: 1%;
    left: -300px;
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    font-size: 20px;
    box-shadow: 0 0 12px rgb(126, 123, 123);
    text-align: center;
}

.sidebar_menu .logo a{
    color: rgb(201, 194, 194);
    text-shadow: 1px 1px 8px rgb(188, 185, 185);
    font-weight: 200;
    font-size: 25px;
    text-decoration: none;
    
    
}

.sidebar_menu .menu{
    /* background-color: rgba(0, 0, 0,0.4); */
    position: absolute;
    width: 100%;
    top: 70px;

}

.sidebar_menu .menu li{
    margin-top: 3px;
    padding: 15px 40px;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 12px rgb(126, 123, 123);
}


.sidebar_menu .menu i,a{
    text-decoration: none;
    color: rgb(201, 194, 194);
}

.sidebar_menu .menu i{
    padding-right: 4px;

}

.sidebar_menu .social_media{
    opacity: 0.5;
    position: absolute;
    bottom: 50px;
    left: 40px;
}

.sidebar_menu .social_media i{
    color: rgb(244, 237, 237);
    font-size: 25px;
    padding: 0 12px;
    text-align: center;
    opacity: 0.5;
}

.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.2);
}

#check{
    display: none;
}

#check:checked ~ .sidebar_menu {
    left: 0;
    transition: all 0.4s linear ;
}

#check:checked ~ .btn_one i{
    opacity: 0;
}
