div{
    border: 2px solid black;
}

#box{
    height:200px;
    width: 70px;
    padding: 4px;
    
}

#box2{
    height: 192px;
    width: 62px;
    padding: 2px;
    
}

.light{ 
    margin: 4px 3px;
    height: 54px;
    width: 54px;
    border-radius: 100%;
    
}

#l1{
    background-color:red ;
}
#l2{
    background-color: yellow;
}
#l3{
    background-color: green;
}
