#mainTopic{
    color: blue;
}

*{
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: Georgia;
}

div button{
    background-color: purple;
    color: azure;
}

.para{
    color: white;
    background-color: cornflowerblue;
}

button:hover{
    background-color: yellow;
    color: blue;
}

p:nth-of-type(2n+1){
    color: yellow;
}
h1::first-letter{
    color: red;
}

input[type = "checkbox"]:checked+label{
    color: darkgreen;
    font-weight: bold;
}