*{
    font-family: Courier New;

}

h1{
    color: #1b74e4;
}
#searchbtn{
    background-color: black;
    color: white;
}
.userbtn{
    background-color: aqua;
}

 div[id="myid"] p{
    color: green;
 }

 button:hover{
    color: whitesmoke;
    background-color: black;
 }